<div class="navbar navbar-default navbar-static-top" style='margin-top:0'>
	<div class='container-fluid'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='#'>
				Notebook
			</a>
		</div>
		<div class='collapse navbar-collapse navbar-right'>
			<ul class='nav navbar-nav'>
				<li>
					<a href='#'><%= User.find(@notebook.user_id).name %></a>
				</li>
				<li>
					<a href='#'>Settings</a>
				</li>
				<li>
					<a href='#'>Log Out</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class='container' style='width:100%'>
	<div class='col-md-2 hidden-sm hidden-xs'>
		<div class='col-md-12'>
			<h3>You're now seeing:</h3>
			<div class='thumbnail'>
				<%= image_tag "notebook_cover_1.jpg" %>
			</div>
			<p><strong>Name:</strong><%= @notebook.name %></p>
			<p><strong>Subject:</strong><%= @notebook.subject %></p>
			<p><strong>Created:</strong><%= @notebook.created %></p>
		</div>
		<div class='col-md-12'>
			<h3>All your notebooks:</h3>
		</div>
		<% User.find(@notebook.user_id).notebooks.each do |noteb|%>
			<div class='col-md-12'>
				<div class='thumbnail'>
					<%= link_to image_tag("notebook_cover_1.jpg"), notebook_path(noteb) %>
				</div>
				<p><strong>Name:</strong><%= noteb.name %></p>
				<p><strong>Subject:</strong><%= noteb.subject %></p>
				<p><strong>Created:</strong><%= noteb.created %></p>
			</div>
		<% end %>
	</div>
    <% numents= 0
       numpag=0
       @notebook.entries.each do |entry|
         numents+=1;
       end
    %>
	<div class='col-md-10'>
		<h1 class='text-center'><%= @notebook.name %></h1>
		<div class='col-md-6'>
			<div class='thumbnail' id='pg_1_container' style='cursor:pointer;border:none'>
				<img class='img_pag_1'>
				<div class='col-md-10' id='pg_1_content' style='position:absolute;top:69px;left:0;overflow-y:auto'>
					<div class='col-md-12'>
							<% qty= @notebook.entries.count%>
							<%@notebook.entries.each do |entry|%>
								<h3 style='margin-top:3px'><%= entry.name%></h3>
								<p class='text-justify'><%= entry.content%></p>
								<p><%= "created #{entry.created} under #{Topic.find(entry.topic_id).name}"%></p>
								<%@entry= Entry.new%>
							<%end%>
					</div>
				</div>
			</div>
		</div>
		<div class='col-md-6'>
			<div class='thumbnail' style='cursor:pointer;border:none'>
				<%= image_tag('notebook_cover_1.jpg',class: 'img_pag_2')%>
				<div class='col-md-10' style='position:absolute;top:69px;right:0;overflow-y:auto;height:555px;direction:rtl;overflow-x:hidden'>
					<div class='col-md-12' style="direction:ltr">
						<%= @entry= Entry.new
						render 'entries/form'%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= @topic=Topic.new
    render 'topics/form'%>
<ul id="n_topics" style="display:none">
  <% @notebook.topics.each do|topic|%>
      <li><%=topic.name%></li>
  <%end%>
</ul>
<ul id="n_topics_ids" style="display:none">
  <% @notebook.topics.each do|topic|%>
      <li><%=topic.id%></li>
  <%end%>
</ul>
<p id="last-topic-id"style="display:none"><%= Topic.maximum(:id)%></p>
<%= javascript_include_tag "notebscripts.js"%>
<p id="notice"><%= notice %></p>
