<div class="navbar navbar-default navbar-static-top" style='margin-bottom:0'>
	<div class='container-fluid'>
		<div class='navbar-header'>
			<a class='navbar-brand' href='#'>
				Notebook
			</a>
		</div>
		<form class="navbar-form navbar-right">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default">Log In</button>
		</form>
	</div>
</div>
<div class='jumbotron' style="margin-top:0;padding-top:0;padding-bottom:0;margin-bottom:0">
  <div class="thumbnail" style="border:none;background:none;padding:0;margin-bottom:0">
        <%= image_tag "guy_notebook.jpg" %>
  </div>
  <div class='container' style='border-radius:10px;padding-top:30px;position:absolute;top:0;left:10%'>
      <div class="col-md-8" style="margin-top:80px;background:rgba(238,238,238,0.5);border-radius:10px">
        <h1>De vuelta al cuaderno</h1>
        <h2>
          ¿Recuerdas cuando tomabas notas para tus materias y para todo en cuadernos?
        </h2>
        <p>Nosotros también. Y sin duda lo extrañamos. Notebook te permite tener tantos cuadernos digitales como quieras Y los organiza para ti automáticamente. Tomar apuntes en un cuaderno nunca fue tan divertido y ordenado</p>
        <h2 >¡Comienza ya!</h2>
        <%= render 'form' %>
      </div>
  </div>
</div>
